<!-- Header start -->
<header class="header">
  <div class="container d-flex align-items-center">
    <a class="logo" href="/">
      <img src="assets/images/logo_rojo.png" alt="" class="el_logo">
    </a>
    <nav class="primary-menu text-md-right">
      <a id="mobile-menu-toggler" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#ventajas">Ventajas</a></li>
        <li><a href="#transferencias">Transferencias</a></li>
        <li><a href="#monitoreo">Monitoreo</a></li>
        <li><a href="#pagos_en_linea">Pagos en Linea</a></li>
        <li><a href="#Nuestros Clientes">Opiniones</a></li>
        <li><a href="https://portal.pagorec.com/login" class="login btn btn-outline btn-round btn-menu"><span class="bh"></span>
        <!-- <li><a href="https://portal.pagorec.com/login" class="btn btn-default btn-menu"><span class="bh"></span> -->
            <span>Iniciar Sesión</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Header end -->
